			/*请勿完全抄袭源码，请勿声明自己是原创*/
			/*主要样式*/
			html{
				scroll-behavior: smooth;
			}
			body{
				background: linear-gradient(to bottom, #68645b, #000000);
			}
			h2{
				text-indent: 30px;
			}
			h3{
				color: #64dd17;
				font-size: 40pt;
				font-weight: 900;
				font-family: 宋体,楷体,微软雅黑;
			}
			a{
				color: aqua;
				text-decoration: none;
				font-size: 30pt;
				font-family: 黑体 仿宋 宋体 微软雅黑;
			}
			a:hover{
				color: #fff;
				background-color: #64dd17;
			}
			ul{
				color: #64dd17;
				font-size: 35pt;
			}
			b{
				color: ghostwhite;
			}
			.juzhong{
				text-align: center;
			}
                        .yin
			{
				background-color: #000;
				border: aqua 3px dashed;
			}
                        .bufu{
			            text-align:center;
			            color:#fff;
				    font-size: 200px;
			            text-shadow: 1px 1px 1px #ccc,
			                       0 0 10px #fff,
			                       0 0 20px #fff,
			                       0 0 30px #fff,
			                       0 0 40px aqua,
			                       0 0 70px aqua,
			                       0 0 80px aqua,
			                       0 0 100px aqua,
			                       0 0 150px aqua;
			            transform-style: preserve-3d;
			            -moz-transform-style: preserve-3d;
			            -webkit-transform-style: preserve-3d;   
			            -ms-transform-style: preserve-3d;              
			            -o-transform-style: preserve-3d;               
			            animation: run  ease-in-out 9s infinite;
			            -moz-animation: run  ease-in-out 9s infinite ;  
			            -webkit-animation: run  ease-in-out 9s infinite;    
			            -ms-animation: run  ease-in-out 9s infinite;    
			            -o-animation: run  ease-in-out 9s infinite; 
			    }
			/*底部导航条样式*/
			.ban{
			    font-size: 20px;
			    font-weight: 900;
			    color: darkturquoise;
			    text-align: center;
			    text-decoration: none;
			    display: block;
			}
			.menu{
			    width:100%;
			    height: 48px;
			    text-align: center;
			}
			.menu ul{
			    width: 1000px;
			    list-style: none;
			    margin: 0 auto;
			}
			.menu ul li {
			    float: left;
			    width: 95px;
			    height: 48px;
			    line-height: 48px;
			    color: #fff;
			    font-family: 黑体;
			    font-size: 16px;
			    text-decoration: none;
			    display: block;
			}
			.menu  ul .split{
			    width: 17px;
			}
			.menu ul li :hover{
			    color: #fff;
			    background-color: #000;
			}
			/*返回顶部样式*/
			.dingbu{
				position: fixed;
				bottom: 50px;
				right: 50px;
				width: 50px;
				height: 50px;
				border: 1px solid aqua;
			}

/*蝙蝠*/

.pulsing-9 {
  width:100px;
  height:45px;
  position:relative;
}
.pulsing-9:before,
.pulsing-9:after {
  content:"";
  position:absolute;
  inset:0;
  background:#000;    
  box-shadow: 0 0 0 50px;
  clip-path: polygon(-50px -20px,10% -12px,20% 0,calc(50% - 15px) 0,calc(50% - 10px) -20px,calc(50% - 8px) -15px,calc(50% + 8px) -15px,calc(50% + 10px) -20px,calc(50% + 15px) 0,80% 0,90% -12px,calc(100% + 50px) -20px,100% 80%,calc(100% + 10px) calc(100% + 10px),60% 100%,50% calc(100% + 15px),40% 100%,-10px calc(100% + 10px),0 80%);
}

.pulsing-9:after {
  animation:pl9 1s infinite;
  transform:perspective(300px) translateZ(0px)
}

@keyframes pl9 {
  to {transform:perspective(300px) translateZ(100px);opacity:0}
}

/*精灵球*/

.wobbling-1 {
  height:60px;
  width:60px;
  position: relative;
}
.wobbling-1::before,
.wobbling-1::after {
  content: "";
  position: absolute;
  inset:0;
  border-radius: 50%;
  transform-origin: bottom;
}
.wobbling-1::after {
  background:
    radial-gradient(at 75% 15%,#fffb,#0000 35%),
    radial-gradient(at 80% 40%,#0000,#0008),
    radial-gradient(circle  5px,#fff 94%,#0000),
    radial-gradient(circle 10px,#000 94%,#0000),
    linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
    linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
    #000;
  background-repeat: no-repeat;
  animation: w10 1s infinite cubic-bezier(0.5,120,0.5,-120);
}

.wobbling-1::before {
  background:#ddd;
  filter: blur(8px);
  transform: scaleY(0.4) translate(-13px, 0px);
}

@keyframes w10 { 
 30%,70% {transform:rotate(0deg)}
 49.99%  {transform:rotate(0.2deg)}
 50%     {transform:rotate(-0.2deg)}
}

 /*飞镖*/

.shuriken-1 {
  width: 80px;
  height: 80px;
  display: grid;
  color:#8d7958;
  background: radial-gradient(circle 16px,currentColor 94%,#0000);
  -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
  animation:sh2 1.5s infinite linear;
}
.shuriken-1:before,
.shuriken-1:after {
  content: "";
  grid-area: 1/1;
  background: 
    radial-gradient(farthest-side at bottom right,currentColor 94%,#0000) top    right, 
    radial-gradient(farthest-side at top    left ,currentColor 94%,#0000) bottom left;
  background-size: 40% 45%;
  background-repeat: no-repeat;
  -webkit-mask: 
    radial-gradient(60% 100% at bottom right,#0000 94%,#000) top    right, 
    radial-gradient(60% 100% at top    left ,#0000 94%,#000) bottom left;
  -webkit-mask-size: 40% 45%;
  -webkit-mask-repeat: no-repeat;
}
.shuriken-1:after {
  transform: rotate(90deg);
}

@keyframes sh1 { 
  100%{transform: rotate(1turn)}
}

.shuriken-2 {
  width: 80px;
  height: 80px;
  color:#8d7958;
  background:
    conic-gradient(from  165deg at top   ,#0000, currentColor 1deg 30deg,#0000 31deg) top,
    conic-gradient(from   75deg at left  ,#0000, currentColor 1deg 30deg,#0000 31deg) left,
    conic-gradient(from  -15deg at bottom,#0000, currentColor 1deg 30deg,#0000 31deg) bottom, 
    conic-gradient(from -105deg at right ,#0000, currentColor 1deg 30deg,#0000 31deg) right;
  background-size: 100% 50%,50% 100%;
  -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
  background-repeat: no-repeat;
  animation:sh2 1.5s infinite linear;
}

@keyframes sh2{ 
  100%{transform: rotate(1turn)}
}

.shuriken-3 {
  width: 80px;
  height: 80px;
  display: grid;
  color:#8d7958;
  -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
  animation:sh3 1.5s infinite linear;
}
.shuriken-3:before,
.shuriken-3:after {
  content: "";
  grid-area: 1/1;
  background: 
    radial-gradient(farthest-side at bottom left, currentColor 94%,#0000) top left, 
    radial-gradient(farthest-side at top right  , currentColor 94%,#0000) bottom right;
  background-size: 63% 50%;
  background-repeat: no-repeat;
  -webkit-mask: 
    radial-gradient(65% 110% at bottom left, #0000 94%,#000) top left, 
    radial-gradient(65% 110% at top   right, #0000 94%,#000) bottom right;
  -webkit-mask-size: 62% 50%;
  -webkit-mask-repeat: no-repeat;
}
.shuriken-3:after {
  transform: rotate(90deg);
}

@keyframes sh3 { 
  100%{transform: rotate(1turn)}
}

.shuriken-4 {
  width: calc(80px*0.707);
  height: calc(80px*0.707);
  background:#8d7958;
  clip-path: polygon(0 0,50% 15%,100% 0,85% 50%,100% 100%,50% 85%,0 100%,15% 50%);
  -webkit-mask:
    radial-gradient(circle closest-side,#0000 92%,#000) top   /100% 33.4%,
    radial-gradient(circle closest-side,#0000 92%,#000) left  /33.4%  33.4%,
    radial-gradient(circle 5px         ,#0000 92%,#000) center/33.3%  33.3%,
    radial-gradient(circle closest-side,#0000 92%,#000) right /33.4%  33.4%,
    radial-gradient(circle closest-side,#0000 92%,#000) bottom/100% 33.4%;
  -webkit-mask-repeat:no-repeat;
  animation:sh4 1.5s infinite linear;
}

@keyframes sh4 { 
  100%{transform: rotate(1turn)}
}

.shuriken-5 {
  width: 80px;
  height: 80px;
  color:#8d7958;
  background:
    linear-gradient(currentColor 0 0) center/100% 15px,
    linear-gradient(currentColor 0 0) center/15px 100%,
    radial-gradient(circle 15px,currentColor 94%,#0000);
  background-repeat: no-repeat;
  -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
  clip-path: polygon(0 30px,calc(100% - 30px) 0,100% calc(100% - 30px),30px 100%);
  animation:sh5 1.5s infinite linear;
}

@keyframes sh5 { 
  100%{transform: rotate(1turn)}
}

.shuriken-6 {
  width: 80px;
  height: 80px;
  display: grid;
  color:#8d7958;
  background:
    conic-gradient(from -153deg at right,#0000,currentColor 1deg 126deg,#0000 127deg) calc(50% + 5px) 0   /10px 50%,
    conic-gradient(from   27deg at left ,#0000,currentColor 1deg 126deg,#0000 127deg) calc(50% - 5px) 100%/10px 50%,

    linear-gradient(to top    right,currentColor 50%,#0000 0%) calc(50% + 10px) calc(50% - 10px) /20px 20px,
    linear-gradient(to bottom left ,currentColor 50%,#0000 0%) calc(50% - 10px) calc(50% + 10px) /20px 20px;
  background-repeat: no-repeat;
  -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
  animation:sh6 1.5s infinite linear;
}
.shuriken-6:before,
.shuriken-6:after {
  content: "";
  grid-area: 1/1;
  background:inherit; 
  transform: rotate(60deg);
}
.shuriken-6:after {
  transform: rotate(120deg);
}

@keyframes sh6 { 
  100%{transform: rotate(1turn)}
}
