			/*请勿完全抄袭源码，请勿声明自己是原创*/
			/*主题样式start*/
			body
			{
				background: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
			}
			a
			{
				text-decoration: none;
				color: #c92a2a;
				font-size: 33pt;
				font-family: 方正彩云简体;
			}
			ol
			{
				color: #64dd17;
				font-size: 25pt;	
			}
			#jin
			{
				color: #18ffff;
				background-color: #000000;
				width: 120px;
				height: 50px;
				font-size: 25px;
				border: #ffff24 2px dashed;
			}
			table
			{
				width: 200pt;
				border: #bdbdbd 5px dashed;
			}
			#if
			{
				border: #ffff00 5pt solid;
			}
			b
			{
				font-size: 17pt;
			}
			.wen
			{
				font-size: 20px;
				color: #212121;
			}
			.qu
			{
				font-family: 华文仿宋;
				font-size: 33pt;
				color: #9c27b0;
			}
			.luoma
			{
				list-style-type: upper-roman;
			}
			.yin
			{
				background-color: #fadb14;
				border: #fffb8f 2px dashed;
			}
			.erweima
			{
				border: #ffff24 3pt solid;
				width: 222pt;
			}
			/*主题样式end*/
			/*其他样式*/
					#copy
					{
						font-size: 10px;
					}
					#juzhong
					{
						text-align: center;
					}
					#fudong
					{
						float: right;
					}